.header {
  position: absolute;
  top: 0;
  z-index: 20;
  width: 100vw;
  background: transparent;
  border-bottom: 1px solid #3D3D3D;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.5625rem;
  padding-inline: 6.625rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: .895rem;
}

.logo_text {
  font-size: 2.1875rem;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
}