html {
  font-size: 16px;
}

body {
  margin: 0;
}

@media (max-width: 1440px) {
  html {
    font-size: 12px; /* 中屏 */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px; /* 移动端 */
  }
}
